* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  height: 50vh; 
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #00ffff;
  padding-top: 100px; 
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: antiquewhite;
}

.newsletter {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
}

.newsletter button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00ffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.subscribe-btn {
  color: black;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .home {
    padding-top: 80px; 
  }

  .content h1 {
    font-size: 2rem; 
  }

  .content p {
    font-size: 1rem;
  }

  .newsletter input,
  .newsletter button {
    font-size: 0.9rem; 
  }
}
