.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100px;
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Auth Buttons */
.auth-buttons {
  display: flex;
}

.sign-in, .get-started {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.get-started {
  background-color: blue;
  color: white;
}

/* Mobile responsive styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .auth-buttons {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }

  .sign-in, .get-started {
    width: 48%;
    margin-left: 0;
  }
}
