.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #00008B; 
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00008B; 
  width: 100%;
  max-width: 1200px;
}

.project-details {
  flex: 1;
  color: #FFF;
  padding: 20px;
}

.project-details h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-details p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contribute-btn, .read-more-btn {
  padding: 10px 20px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px; 
}

.contribute-btn:hover, .read-more-btn:hover {
  background-color: #00FFFF; /* Cyan hover effect */
  color: #000;
}

.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  max-width: 400px;
  height: auto;
}

.project-expanded {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.project-expanded .expanded-description, .project-expanded .expanded-video {
  flex: 1;
  padding: 20px;
  color: #FFF;
}

.expanded-video video {
  width: 100%;
  border-radius: 10px;
}

.expanded-description {
  font-size: 1.1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    text-align: center;
  }

  .project-image {
    margin-bottom: 20px;
  }

  .project-expanded {
    flex-direction: column;
  }

  .project-expanded .expanded-description, .project-expanded .expanded-video {
    padding: 10px;
  }

  .expanded-video video {
    margin-top: 20px;
  }
}
