.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  width: 100%;
  z-index: 1000; 
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
}

.menu-icon {
  display: none; 
}


.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: #f0cb46;
  text-decoration: none;
  font-size: 1.2rem;
}


.auth-buttons {
  display: flex;
}

.sign-in, .get-started {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.get-started {
  background-color: blue;
  color: white;
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo {
    margin-bottom: 0px;
    /* background: #f9f7f7; */
  }

 
  .menu-icon {
    /* margin-top: 0px; */
    margin-bottom: 0px;
    display:block; 
    margin-left: auto;
    background-color: white; 
  }


  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%;
    padding: 10px;
    background-color: black;
    transition: max-height 0.3s ease; 
  }

  .nav-links.mobile-menu {
    display: flex; 
    max-height: 300px; 
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .auth-buttons {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }

  .sign-in, .get-started {
    width: 48%;
    margin-left: 0;
  }
}
